h1 {
	text-align: center;

}
#container {
	border:2px solid black;
	width:960px;
	height:960px;	
	margin:0 auto;
	margin-top:20px;
}

/*td cells adjust automatically to table  */
table {	
	border:1px solid #3399FF;
	cellpadding:0;
	cellspacing:0;
	width: 100%;
	height:100%;	
}

td {	
	border:1px solid black;
	background-color: black;	
}

#menu { 
	text-align: center;
	width:500px;
	height:20px;		
	margin:0 auto;	
}

button {
	border-radius: 25px;
    background: #F8F8F8;
    font-weight: bold;
    color: #3399FF;
}


